<!DOCTYPE html>
<html>
  <head>
    <title>SeatYoself</title
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%=image_tag("SYheader.jpg", alt: "SYheader.jpg", class: "img_header")%>
      <%=image_tag("bgtile.png", alt: "bgtile.png", class: "img_tile")%>

      <h1>== Seat Yo'Self ==</h1>
      <%=image_tag("SYlogo.png", alt: "SYlogo.png", class: "img_logo")%>

      <nav>
        <div id="rest_button"> <%= link_to "Restaurants", restaurants_url %> </div>
        <div id="cuis_button"> <%= link_to "Cuisine Types", cuisines_url %> </div>

        <% if current_user %>
          <div> <%= link_to "Hey! #{current_user.username}", user_path("current") %> </div>
          <div> <%= link_to "Log out", session_path("current cookie"), :method => :delete %></div>
        <% else %>
          <div id="sign_up_button"> <%= link_to "Sign Up", new_user_url %> </div>
          <div id="log_in_button"> <%= link_to "Login", new_session_path %> </div>
        <% end %>

      </nav>
    </header>
    <%= yield %>
  </body>
</html>
