<hr>

<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <!-- Below is a selection box that you shift click multiple options not working currently -->
  <!-- <div>
    <%= fields_for(@all_cuisines) do |cr| %>
      <div class="">
        <%= cr.label "All Cuisines" %> <br>
        <%= collection_select(:cusines, :cuisine_id, @all_cuisines, :id, :cuisine_type, {}, {:multiple => true}) %>
      </div>
    <% end %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
