<%@restaurants.each do |restaurant| %>

<a href="<%= restaurant_url(restaurant.id) %>">
  <div class="each_rest">
    <div class="each_img"><img src="<%= restaurant.url_for_photo %>" alt=" <%= restaurant.name %> photo" style="width: 200px;"></div>
    <p class="rest_name"> <%= restaurant.name%></p>
    <p class="rest_description"><%= restaurant.description%></p>
  </div></a>
<%end%>

<br>

<%if current_user%>
  <div id="make_a_button"><%=link_to 'Create new restaurant', new_restaurant_path %></div>
<%end%>
