<!DOCTYPE html>
<html>
  <head>
    <title>SeatYoself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class='Layout_h1'>SEAT YO'Self</h1>
      <nav>
        <div class="layout_types"> <%= link_to "Book by Restaurants", restaurants_url %> </div>
        <div class="layout_types"> <%= link_to "Sort by Cuisines", cuisines_url %> </div>

        <% if current_user %>
          <div> <%= link_to "Hey! #{current_user.username}", user_path("current") %> </div>
          <div> <%= link_to "Log out", session_path("current cookie"), :method => :delete %></div>
        <% else %>
          <div class="layout_sign_in"> <%= link_to "Sign Up", new_user_url %> </div>
          <div class="layout_layout"> <%= link_to "Login", new_session_path %> </div>
        <% end %>

      </nav>
    </header>
    <%= yield %>
  </body>
</html>
