<h2>My Restaurants</h2>

<% @restaurants.each do |restaurant| %>
  <% if restaurant.owner_id == current_user.id %>
    <div>
      <p><%= restaurant.name %></p>
      <p><%= restaurant.description %></p>
      <p><%= link_to "Edit Restaurant", edit_restaurant_url(restaurant.id) %></p>
    </div>
  <% end %>
<% end %>

<h2>My Reservations</h2>

<%  @user.reservations.each do |reservation| %>
  <div>
      <p> On <%= reservation.time.beginning_of_hour.to_formatted_s(:long_ordinal) %> </p>
      <p> Seat <%= reservation.number_of_guests %> guests at
      <%= link_to reservation.restaurant.name, restaurant_path(reservation.restaurant) %> </p>
      <p><%= link_to "Edit Reservation", edit_restaurant_reservation_path(reservation.restaurant, reservation) %></p>
      <p><%= link_to "Delete Reservation", edit_restaurant_reservation_path(reservation.restaurant, reservation) %></p>
  </div>
<% end %>
