<%=image_tag("bgtile.png", alt: "bgtile.png", class: "img_tile")%>
<%=image_tag("SYlogo.png", alt: "SYlogo.png", class: "img_logo")%>

<h2 class="user-show-header">My Restaurants</h2>

<% @restaurants.each do |restaurant|  %>
<% if current_user.id == restaurant.owner_id %>
  <div class="user-show-restaurant">
    <p><%= restaurant.name %></p>
    <p><%= restaurant.description %></p>
    <p ><%= link_to "Edit Restaurant", edit_restaurant_url(restaurant.id), :class => "user-show-link" %></p>
<% end %>
  </div>
<% end %>

<h2 class="user-show-header">My Reservations</h2>

<%  @user.reservations.each do |reservation| %>
  <div class="user-show-reservation">
      <p> On <%= reservation.time.beginning_of_hour.to_formatted_s(:long_ordinal) %> </p>
      <p> Seat <%= reservation.number_of_guests %> guests at

      <%= link_to reservation.restaurant.name, restaurant_path(reservation.restaurant), :class => "user-show-link-restaurant" %> </p>
      <p><%= link_to "Edit Reservation", edit_restaurant_reservation_path(reservation.restaurant, reservation), :class => "user-show-link" %></p>
      <p><%= link_to 'Cancel Reservation', restaurant_reservation_path(reservation.restaurant, reservation), method: :delete, :class => "user-show-link" %></p>
  </div>
<% end %>
